<section class="text-block padding">
<!-- <section class="thin-div"> -->
  <section>
    <div class="center"><h1>Read the investigation by The Seattle Times</h1></div>
  </section>

<section class="dont-miss">
  <div class="story">
      <div class="padded">
        <a href="http://projects.seattletimes.com/2018/orcas-in-peril/">
          <img src="./assets/breach.jpg"></img>
        </a>
        <div>
          <a href="http://projects.seattletimes.com/2018/orcas-in-peril/">
            Part One: XXXXXX
            <br> Publishing on August 18, 2019
          </a>
        </div>
      </div>
    </div>
    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/seattle-news/environment/the-orca-and-the-orca-catcher-how-a-generation-of-killer-whales-was-taken-from-puget-sound/">
          <img src="./assets/capture.jpg"></img>
        </a>
        <div>
          <a href="https://www.seattletimes.com/seattle-news/environment/the-orca-and-the-orca-catcher-how-a-generation-of-killer-whales-was-taken-from-puget-sound/">
            Part Two: XXXXX
            <br> Publishing on August XX, 2019
          </a>
        </div>
      </div>
    </div>
    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/seattle-news/environment/hunger-the-decline-of-salmon-adds-to-the-struggle-of-puget-sounds-orcas/">
          <img src="./assets/sealion.jpg"></img>
        </a>
        <div>
          <a href="https://www.seattletimes.com/seattle-news/environment/hunger-the-decline-of-salmon-adds-to-the-struggle-of-puget-sounds-orcas/">
            Part Three: XXXX 
            <br> Publishing on August XX, 2019
          </a>
        </div>
      </div>
    </div>
  
</section>