<section class="text-block padding">

<section class="dont-miss">
  <div class="story">
      <div class="padded">
        <a href="https://projects.seattletimes.com/2019/public-crisis-private-toll-part1">
          <img src="./assets/part1.jpg"></img>
        </a>
        <div>
          <a href="http://projects.seattletimes.com/2019/public-crisis-private-toll-part1">
            PART ONE: How a company’s push to expand psychiatric care brought peril
            <br>Published on August 25, 2019
          </a>
        </div>
      </div>
    </div>
    <div class="story">
      <div class="padded">
        <!-- <a href="https://projects.seattletimes.com/2019/public-crisis-private-toll-part2"> -->
          <img src="./assets/part2.jpg" style="opacity: .4"></img>
        <!-- </a> -->
        <div>
          <!-- <a href="https://projects.seattletimes.com/2019/public-crisis-private-toll-part2"> -->
            PART TWO
            <br> Coming soon
          <!-- </a> -->
        </div>
      </div>
    </div>
    <div class="story">
      <div class="padded">
        <!-- <a href="https://projects.seattletimes.com/2019/public-crisis-private-toll-part3"> -->
          <img src="./assets/part3.jpg" style="opacity: .4"></img>
        <!-- </a> -->
        <div>
          <!-- <a href="https://projects.seattletimes.com/2019/public-crisis-private-toll-part3"> -->
            PART THREE
            <br> Coming soon
          <!-- </a> -->
        </div>
      </div>
    </div>
  
</section>