<!doctype html>
<html lang="en-US">
  <head>
    <meta property="og:image" content="https://projects.seattletimes.com/2019/public-crisis-private-toll-prologue/assets/social.jpg" />
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <%= t.include("partials/_gtm.html") %>
    <%= t.include("partials/_nav.html") %>

    <section class="content text-block">
        <h1>PUBLIC CRISIS, PRIVATE TOLL</h1>
        <div class="content line">
          <img src="assets/lineBlack.jpg"></div>
        <h2>The hidden costs of the mental-health industry’s expansion</h2>
        
        <div class="videoWrapper">
            <video src="assets/videos/prologue.mp4" autoplay playsinline muted></video>
          </div>
        
        <div class="constrained">
              <i class="fas fa-chevron-down" style="font-size:28px; color: white"></i>
              <div class="content">
                <h3>Not enough beds</h3>
                  <p style="color: white; font-size: 23px"> For years, our state’s mental-health care crisis has revolved around this fact.</p>
              </div>
        </div>
        
    </section>
    <div class="hidden-mobile">
      <%= t.include("_scrollContent.html") %>
    </div>

    <div class="visible-mobile">
      <%= t.include("_scrollContentMobile.html") %>
    </div>

    <section class="text-block other-features" id="other-features">
        <h1>PUBLIC CRISIS, PRIVATE TOLL</h1>
        <div class="content line">
          <img src="assets/lineBlack.jpg"></div>
        <h2>The hidden costs of the mental-health industry’s expansion</h2>

<!--         <div class="summary">
        <h4>Among our findings:</h4>
            <p>• Private psychiatric hospitals are so understaffed that they often fail to keep both patients and their own employees safe. Some patients with medical needs have gone untreated until their conditions deteriorated – at times to the point of death.
            <div class="fade">
            • Washington state doesn’t make hospital inspection reports available online, in contrast to many states, leaving the public in the dark about violations. State regulators, eager to preserve inpatient treatment options, haven’t taken an enforcement action against a private psychiatric hospital in more than 13 years.
            </div>
            <br>
            <div clas="fade2">
            • Patients who check in voluntarily and decide they want to leave must be discharged immediately, according to state law, but are often intimidated into staying or forced to undergo evaluations for involuntary commitment.
            </div>
        </div> -->
        <%= t.include("partials/_dontMiss.html") %>

        <div class="alerts">
          <a href="https://www.seattletimes.com/newsletters/dont-miss/">Sign up to get alerts about new stories in this series and more.</a>
        </div>

        <div class="sources">Published on August 23, 2019<br><br>Sources and Seattle Times analysis/reporting (in order of appearance): Washington State Institute for Public Policy, Substance Abuse and Mental Health Services Administration, Center for Behavioral Health Statistics and Quality, National Survey on Drug Use and Health; Mental Health America; Washington State Health Care Authority; Department of Health; S&P Global Market Intelligence</div>

        <div class="watchdog">
          <h5>You can support watchdog journalism</h5>
          <div class="gray">Make a tax-deductible donation to <a href="https://company.seattletimes.com/investigativefund/">The Seattle Times Investigative Journalism Fund,</a> and subscribe to <a href="https://www.seattletimes.com/subscribe/signup-offers/">The Seattle Times.</a></div>
        </div>

        <section class="constrained">

            <ul class="aside-text" style="padding-left:0">
                <h4 style="text-align: center;">CREDITS</h4>
                <div class="content line">
                    <img src="assets/lineBlack.jpg"></div>
                    <div style="column-count:2;list-style-type: none; color: white">
                      <li></li>
                        <li><strong>Reporter:</strong>  Daniel Gilbert</li>
                        <li><strong>Project editor:</strong>  Ray Rivera</li>
                        <li><strong>Photographer:</strong>  Erika Schultz</li>
                        <li><strong>Photo editor:</strong>  Fred Nelson</li>
                        <li><strong>Video editor:</strong>  Lauren Frohne</li>
                        <li><strong>Developer and graphic artist:</strong>  Emily M. Eng</li>
                        <li><strong>Illustrator:</strong>  Gabriel Campanario</li>
                        <li><strong>Engagement:</strong>  Taylor Blatchford</li>
                        <li><strong>Project coordinator:</strong>  Laura Gordon</li>
                    </div>
            </ul>
        </section>
    </section>

    <%= t.include("partials/_navBottom.html") %>
    
    <script src="app.js" async></script>
    <script>
    </script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
